EssentialsAddin/bin/Debug
EssentialsAddin/bin
EssentialsAddin/obj
packages
.vs
.mfractor
*.mpack
EssentialsAddin.Lib/bin
EssentialsAddin.Lib/obj
EssentialsAddin.Unitttests/bin
EssentialsAddin.Unitttests/obj
